* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

footer {
    height: 100%;
    width: 90%;
    background-image: url('./img/Рисунок1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.title {
    padding-top: 150px;
    width: 500px;
    margin: 0 auto;

    & h1 {
        background-color: #ffff;
        border-radius: 10px;
        padding: 10px 10px;
        margin: 0 auto;
        text-align: center;
    }
}



main {
    margin-top: 100px;
}

.post {
    margin: 0 auto;
    margin-top: 70px;
    width: 1050px;
}

.post h2 {
    text-align: center;
}

.content {
    margin-top: 30px;
    display: flex;
    gap: 40px;
}

.content-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}